.body {
  margin: 0 20% 2em 20%;
  text-align: center;
}
h1,
h2 {
  font-family: "work sans", sans-serif;
}

p {
  font-family: "hind", sans-serif;
  font-size: 18px;
}

.logo-variants img {
  width: 100px;
}
.body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.body li {
  float: left;
  margin: 9%;
}
