.content {
    margin: 0 20% 2em 20%;
}

.box{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: top;
}

.horizontalSplit {
    margin-left: 5%;
    margin-right: 5%;
}

.characters {
    line-height: 1px;
    
}

.workSans {
    font-family: 'Work Sans', sans-serif;
}

.hind {
    font-family: 'Hind', sans-serif;
}

.headingOne {
    font-size: 36px;
}

.headingTwo {
    font-size: 28px;
}

.headingThree {
    font-size: 24px;
}

.headingFour {
    font-size: 20px;
}

.paragraph {
    font-size: 18px;
}

.semibold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;
}