@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

body {
    background-color: #fcfcfcff;
    font-family: 'Hind', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0 20% 2em 20%;
}

.graphicsContainer {
    display: flex;
    justify-content: center;
}

.graphicsContainerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
