body {
    margin-left: 25em;
    margin-right: 25em;
}

.workSans {
    font-family: 'Work Sans', sans-serif;
}

.hind {
    font-family: 'Hind', sans-serif;
}

.headingOne {
    font-size: 36px;
}

.headingTwo {
    font-size: 28px;
}

.headingThree {
    font-size: 24px;
}

.headingFour {
    font-size: 20px;
}

.paragraph {
    font-size: 18px;
}

.semiBold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;
}